*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

# Exclude specific folders in CodeIgniter 4
system/
writable/
uploads/

# Exclude specific files
Vietnamese_Custom.json
LangTran.php
Vietnamese_2.51.json
UpdateLanguage.php
LangNotTran.php
Ghi chu.txt
English_2.5.1.json
English_Custom.json
.env
.htaccess
version.txt
